.root {
  padding: 11px 17px;
  background: #ffffff;
  border: 1.5px solid #1d1c1c;
  border-radius: 8px;
  outline: none;
}

.root:focus {
  border-color: #315e8f;
}

.error {
  border-color: #a60d22;
}

.errorMessage {
  padding-top: 6px;
  padding-left: 8px;
  color: #a60d22;
  font-size: 14px;
}
