.button {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 15px;
  text-align: right;
  background-image: linear-gradient(to right, #77b700, #519b00);
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s linear;
}
.active {
  composes: button;
  background-image: linear-gradient(#ffffff, #ffffff);
  color: #000000;
}
